html,
body,
main,
div.board {
  height: 100%;
  width: 100%;
}

body {
  /* Photo credit Krystian Tambur https://unsplash.com/@atlasior */
  background: url('../images/underwater.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

div.board {
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

div.start,
div.timer,
div.current-score {
  color: #fff;
  font-family: 'Changa One', cursive;
  opacity: 0.75;
  text-align: center;
}

div.start {
  color: #4e9fb5;
  font-size: 33vmin;
  line-height: 100vh;
  transition: opacity 0.25s, font 0.3s;
  background: url('../images/underwater.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.timer {
  font-size: 33vmin;
  letter-spacing: -0.02em;
  padding-top: 33vh;
  line-height: 33vh;
  -webkit-transition: background-color 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
  width: 100%;
  z-index: 0;
}

div.final-seconds-timer {
  color: red;
}

div.current-score {
  font-size: 8vmin;
  line-height: 33vh;
  text-align: center;
  z-index: 0;
}

div.circle {
  animation-name: crosscreen;
  animation-duration: 30s;
  animation-timing-function: linear;
  background-color: #4e9fb5;
  border-radius: 50%;
  position: absolute;
  transition-property: all;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

@keyframes crosscreen {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}
