body {
  /* Photo credit Krystian Tambur https://unsplash.com/@atlasior */
  background: url('../images/underwater.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.circle {
  animation-name: crosscreen;
  animation-duration: 30s;
  animation-timing-function: linear;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

@keyframes crosscreen {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}
