body {
  /*background: url('https://pixabay.com/static/uploads/photo/2015/09/02/13/24/mountains-919040_960_720.jpg') no-repeat fixed;*/
  background: url('http://weknowyourdreams.com/images/beach/beach-05.jpg') no-repeat fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.circle {
  animation-name: crosscreen;
  animation-duration: 40s;
  background-color: blue;
  border-radius: 50%;
  height: 5rem;
  position: absolute;
  width: 5rem;
}

@keyframes crosscreen {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}
